/******NAVIGATION*********/


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    margin: 0;
    margin: 0em;
}

.container{
    position: relative;
    margin: 0 auto;
}
.content {
    color: #223c46;
    cursor: pointer;
    float: left;
    font-size: 18px;
    outline: none;
    width: 100%;
}


#head-txt{
    padding-top: 5.25em;
}

.topnav{
    display: flex;
}

.topnav a {
    color: black;
    font-size: 20px;
    height: 40px;
    letter-spacing: 2px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    top: 5px;
    width: 30em;
    text-align: center;
    /*border was added here and not in topnav because the hover was overlapping the line making it uneven*/
    border-bottom-style: solid;
    border-color: #223c46;
    border-width: 1.5px;
}

.topnav :hover{
    background-color: #f1fc94;
    color: black;
}

.nav-img-txt {
    background-image:url(assets/neola.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    height: 24em;
    position:relative;
    text-align: center;
    text-transform: uppercase;
}


