/******NAVIGATION*********/


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    margin: 0;
    margin: 0em;
}

.bottom-text{
    padding: 2px;
}

.container{
    position: relative;
    margin: 0 auto;
}
.content {
    color: #223c46;
    cursor: pointer;
    float: left;
    font-size: 18px;
    outline: none;
    width: 100%;
}

.col-1{
    float: center;
    width: 25%;
    padding: 20px;
    height: 10em;
}


#head-txt{
    padding-top: 5.25em;
}

/* for some codes, colours were added to pop out the exact size of the containers to help  me understand. */
    
.image {
    float: center;
    padding: 20px;
    background-color: blue;
}

.item {
    background-color: cornflowerblue;
    height: fit-content;
    width: fit-content;
    float:center;
}


.row{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1px;
    padding-left: 20px;
    margin: 0 auto;
}

.row > div {
    background-color: bisque;
    text-align: center;
    padding: 21px 23px;
    font-size: 15px;
    width: fit-content;
    height: fit-content;
}

.topnav{
    display: flex;
}

.topnav a {
    color: black;
    font-size: 20px;
    height: 40px;
    letter-spacing: 2px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    top: 5px;
    width: 30em;
    text-align: center;
    /*border was added here and not in topnav because the hover was overlapping the line making it uneven*/
    border-bottom-style: solid;
    border-color: #223c46;
    border-width: 1.5px;
}

.topnav :hover{
    background-color: #f1fc94;
    color: black;
}

.nav-img-txt {
    background-image:url(assets/neola.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    height: 24em;
    position:relative;
    text-align: center;
    text-transform: uppercase;
}

